# App
APP_ENV=dev
APP_DEBUG=true
APP_SECRET=test
PROJECT_VERSION=latest

# VK API
VK_API_VERSION=
VK_API_ACCESS_TOKEN=

# Database
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/postgres

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=35ccc2812b4ca18b110df1c08c92d0e0
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml
#
# DATABASE_URL="sqlite:///%kernel.project_dir%/var/data.db"
# DATABASE_URL="mysql://app:!ChangeMe!@127.0.0.1:3306/app?serverVersion=8&charset=utf8mb4"
DATABASE_URL="postgresql://app:!ChangeMe!@127.0.0.1:5432/app?serverVersion=14&charset=utf8"
###< doctrine/doctrine-bundle ###
